@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { 
    background-color: beige;
    background-size: cover;
    color: white;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
}
nav {
    /* position: fixed;
    width: 100%; */
    overflow: auto;
    background-color: #171c28;
}

nav div {
    float: left;
    margin-right: 50%;
}

nav div img {
    height: 60px;
    margin: 10px;
}

nav ul{
    overflow: auto;
    height: 100
}
nav ul li{
    float: left;
    height: 100%;
    list-style: none;

    margin-right: 3%;
}

nav ul li:hover {
    background-color: rgb(47, 79, 153);
}

section {
    float: left;
    width: 20%;
    height: 100vh;
}


a {
    color: white;
    text-decoration: none;
}

section#title h1 {
    border: black 2px solid;
    margin: 50vh auto;
    text-align: center;
    font-size: 3rem;
    transform: rotate(270deg)
}

section#header {
    height: 12vh;
    width: 80%;
    text-align: center;
    padding: 17px;
}

section#title, section#header  {
    color: #171c28;
}

#content1, #content2{
    height: 44vh;
    width: 40%;
    padding-top: 40px;
    overflow: auto;
}

section p {
    background-color: rgba(47, 79, 153, 0.5);
    width:80%;
    height: 80%;
    margin: auto;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px black; min-height:fit-content;
}

main {
    overflow: auto;    
    width:80%;
    height:44vh;  
    float: right;
    justify-content: center;
    
    
    overflow: auto;
    left: 
}

main div#container {
    width: 90%;
    height: 80%;
    background-color: rgba(47, 79, 153, 0.5);
    box-shadow: 0 2px 4px black;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
}






/* main, section, nav, h2, main   {
    border: solid black 1px;
}

 li, ul {
    border: solid blue 1px;
    
} */