* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { 
    background-color: rgb(223, 223, 223);
    background-size: cover;
    color: black;
}
nav {
   border: solid black 3px;
   overflow: auto;
}

nav div {
    float: left;
    margin-right: 50%;
}

nav div img {
    height: 100px;
    margin: 10px;
}

nav ul li{
    float: left;
    list-style: none;
    margin-top: 50px;
    margin-right: 20px;
}

.float-break{
    clear: both;
}

section {
    border: solid black 3px;
    float: left;
    width: 33.333%;
    height: 500px;
}

#content1, #content2{
    height: 250px;
}
main{
    width:66.666%;
    height:250px;
    border: solid black 1px;
    float: left;
}