@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { 
    background-color: beige;
    background-size: cover;
    color: white;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
}
nav {
    overflow: auto;
    background-color: #171c28;
}

nav div {
    float: left;
    margin-right: 50%;
}

nav div img {
    height: 60px;
    margin: 10px;
}

nav ul li{
    float: left;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.float-break{
    clear: both;
}


section {
    float: left;
    width: 33.333%;
    height: 100vh;
}


a {
    color: white;
    text-decoration: none;
}

section#title h1 {
    margin: 50vh auto;
}

section#header {
    height: 80px;
    width: 66.66%;
    text-align: center;
    padding: 17px;
}

/* section#header h2 {
    width: auto;
    margin: auto;
} */

#content1, #content2{
    height: 260px;
    padding-top: 40px
}

section p {
    background-color: rgba(23, 28, 40, .5);
    width:80%;
    height: 80%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px black; 
}

main{
    width:66.666%;
    height:300px;  
    float: left;
}

form
main, section, nav, h2  {
    border: solid black 1px;
}